<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href='/icons/icon-1-50.png'>
    <link rel="stylesheet" href="/styles/styleRegister.css">
</head>
<body>
    <section>
        <div class="contenedor">
            <a href="/" class="back-arrow">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <div class="formulario">
                <form action="/register" method="post" onsubmit="return validateForm()">
                    <h2>Register</h2>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="name" required onkeypress="return checkInput(event)">
                        <label for="name">Name</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="lastname" required onkeypress="return checkInput(event)">
                        <label for="lastname">Last Name</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-align-left"></i>
                        <input type="text" name="description" required>
                        <label for="description">Description</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-calendar"></i>
                        <input type="number" name="age" required onkeydown="return isNumberKey(event)">
                        <label for="age">Age</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="username" required>
                        <label for="username">User</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" required>
                        <label for="password">Password</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="repeat_password" required>
                        <label for="repeat_password">Repeat Password</label>
                    </div>

                    <button type="button" onclick="chooseProfilePicture()">Choose a profile picture</button>
                    <input type="hidden" name="profile_pic" id="selected-profile-picture" required>

                    <button type="submit">Register</button>

                    <% if @error %>
                        <p class="error-message" id="error-message"><%= @error %></p>
                    <% end %>
                </form>
                <div class="registrar">
                    <p><a href="/login"><u>I have an account</u></a></p>
                </div>
            </div>
        </div>
    </section>

    <div id="profile-picture-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Choose a Profile Picture</h2>
            <div class="profile-pictures">
                <% @profile_pictures.each do |picture| %>
                    <img src="/profile_pictures/<%= picture %>" class="profile-picture" onclick="selectProfilePicture('/profile_pictures/<%= picture %>')">
                <% end %>
            </div>
        </div>
    </div>

    <script>
        function chooseProfilePicture() {
            document.getElementById('profile-picture-modal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('profile-picture-modal').style.display = 'none';
        }

        function selectProfilePicture(url) {
            document.getElementById('selected-profile-picture').value = url;
            closeModal();
        }

        function validateForm() {
            var profilePic = document.getElementById('selected-profile-picture').value;
            if (profilePic == '') {
                alert('Por favor, selecciona una foto de perfil.');
                return false;
            }
            return true;
        }

        window.onload = function() {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                setTimeout(function() {
                    errorMessage.style.display = 'none';
                }, 5000);
            }
        };

        function checkInput(event) {
            var char = String.fromCharCode(event.which);
            if (!char.match(/^[A-Za-z\s]+$/)) {
                event.preventDefault();
            }
        }

        function isNumberKey(event) {
            var charCode = (event.which) ? event.which : event.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

    </script>
</body>
</html>
