<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Play</title>
    <link rel="icon" href='/icons/icon-1-50.png'>
    <link rel="stylesheet" href="/styles/styleHTP.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src='/icons/icon-red-1-150.png' alt="Logo de F1 Quiz & Learn"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/gamemodes" class="back-arrow" id="back"> <i class="fa-solid fa-arrow-left"> </i></a></li>
                <li><a href="/how-to-play" onclick="return false" id="same">How To Play</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>How to Play</h1>
        <div id="contenedor-instructions">
            <div class="instructions">
                <h1>Progressive</h1>
                <p id="pInside">Select between 4 personalized topics (pilot, career, circuit, team) from which you will 
                be given questions related to them.
                Each topic will have its own progress until 100% of them are completed.</p>
            </div>
            <div class="instructions">
                <h1>Free</h1>
                <p id="pInside">Answer questions on all topics going from least to most difficult.
                This game mode can be replayed as many times as the player wants, being able to exit
                 the mode without losing the questions answered so far.</p>
            </div>
            <p><br></p>
            <div class="instructions">
                <h1>During the game</h1>
                <p><b>Wild cards:</b></p>
                <ul>
                    <li>More Time: Increase the time limit to answer the question (20 seconds). Cost = 75 coins.</li>
                    <li>Split Answers: Eliminate two of the four options, leaving you with only two to choose from. Cost = 150 coins.</li>
                </ul>
                <p><b>Lives:</b></p>
                <p>You start the game with 3 lives you lose a life every time you answer incorrectly.
                If you run out of lives, you will not be able to continue playing until they regenerate. You regain one life every 1 minute.
                </p>
                <br><hr>
                <p><b>Additional Information:</b></p>
                <ul>
                    <li>A question has a time of 20 seconds.</li>
                    <li>For each correct answer you will earn 10 coins.</li>
                    <li>In each question you can use a maximum of 1 wild card of each type.</li>
                    <li>Each question has 4 options of which one of them is correct.</li>
                </ul>
            </div>
            <p id="lastP"><b>Test your knowledge about Formula 1 and become a true expert with F1Quiz&Learn!</b></p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 F1 Quiz & Learn. All rights reserved.</p>
    </footer>
</body>
</html>
