<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mode Progressive</title>
    <link rel="icon" href="/icons/icon-1-50.png">
    <link rel="stylesheet" href="/styles/styleModeProgressive.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            function updateLives() {
                $.get('/gamemodes/progressive', function(data) {
                    console.log(data);
                    $('#lives-count').text(data.lives);
                });
            }

            setInterval(updateLives, 20000);

            updateLives();
        });
    </script>
</head>
<body>
    <header>
        <div class="left">
            <a href="/gamemodes" class="menu-item" id="back"> <i class="fa-solid fa-arrow-left"> </i></a>
        </div>
        <div class="right">
            <div class="user-info">
                <div class="currency">
                    <img src="/icons/coin.png" alt="Monedas" class="icon">
                    <span><%=@current_user ? @current_user.cant_coins : 0%></span>
                </div>
                <div class="lives">
                    <img src="/icons/heart.png" alt="Vidas" class="icon">
                    <span id="lives-count"><%=@current_user ? @current_user.cant_life : 0%></span>
                </div>
                <div class="profile">
                    <img src=<%= @current_user.profile.profile_picture %> alt="Profile" class="profile-pic" onclick="toggleProfileMenu()">
                    <div id="profile-menu" class="profile-menu">
                        <a href="/profile">Profile</a>
                        <a href="/logout">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h1>Progressive</h1>
        <div class="gamemodes">
            <a href="/gamemodes/progressive/pilot" class="gamemode" id="pilot">Pilot</a>
            <a href="/gamemodes/progressive/team" class="gamemode" id="team">Team</a>
            <a href="/gamemodes/progressive/career" class="gamemode" id="career">Career</a>
            <a href="/gamemodes/progressive/circuit" class="gamemode" id="circuit">Circuit</a>
        </div>
    </main>
    <script>
        function toggleProfileMenu() {
            var menu = document.getElementById('profile-menu');
            menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        }
    </script>
</body>
</html>
