<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Quiz & Learn</title>
    <link rel="icon" href='/icons/icon-1-50.png'>
    <link rel="stylesheet" href='/styles/styleHome.css'>
</head>
<body>
    <header>
        <div class="logo">
            <img src='/icons/icon-red-1-150.png' alt="Logo de F1 Quiz & Learn">
        </div>
        <nav>
            <ul>
                <li><a href="/how-to-play">How To Play</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <video autoplay muted loop>
            <source src="/backgrounds/fondo-video.mp4" type="video/mp4">
        </video>
        <div class="welcome-message">
            <h1>F1 Quiz & Learn</h1>
            <p>·Here you can learn and test your knowledge about Formula 1·</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 F1 Quiz & Learn. All rights reserved.</p>
    </footer>
</body>
</html>
