@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('/backgrounds/background-htp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

#back:hover {
    color: #ffcc00;
    border-bottom: 2px solid #ffcc00;
}

#same:hover {
    cursor: default;
}

.back-arrow {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

#contenedor-instructions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    max-height: 575px;
    margin: 20px 0;
    overflow-y: auto;
}

h1 {
    font-size: 48px;
    margin: 20px 0;
    font-weight: 700;
    text-transform: uppercase;
}

.instructions {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: 0 20px;
    overflow-y: auto;
    max-height: 70vh;
}

#pInside {
    font-size: 21px;
    margin: 10px 0;
    line-height: 1.5;
    max-width: 400px;
    text-align: left;
}

.instructions p {
    font-size: 21px;
    margin: 10px 0;
    line-height: 1.5;
    text-align: left;
}

#lastP {
    font-size: 25px;
    text-align: center;
    color: goldenrod;
}

.instructions ul {
    text-align: left;
    padding-left: 20px;
}

.instructions ul li {
    font-size: 21px;
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
}

footer p {
    margin: 0;
}
