body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url('/backgrounds/wallpaperbetter.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
}

.left .menu-item {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.left .menu-item:hover {
    color: #ffcc00;
}

.right .user-info {
    display: flex;
    align-items: center;
}

.user-info .currency, .user-info .lives {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #fff;
}

.user-info .icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.profile {
    position: relative;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.profile-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: rgba(65, 63, 63, 0.8);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    width: 200px;
}

.profile-menu a, .profile-menu .change-language {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
}

.profile-menu a:hover, .profile-menu .change-language:hover {
    background: rgba(255, 255, 255, 0.2);
}

.language-flag {
    width: 30px;
    height: 20px;
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.question-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    font-size: x-large;
    color: #000;
    justify-content: center;
    align-items: center;
}

.feedback-message {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.question-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.question-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-input {
    display: none;
}

.option-label {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.option-input:checked + .option-label {
    background-color: rgba(255, 204, 0, 0.3);
    border-color: rgba(255, 204, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.option-label:hover {
    background-color: #ddd;
}

.submit-button, .next-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    align-self: center;
}

.submit-button:hover, .next-button:hover {
    background-color: #555;
}

.timer {
    height: 20px;
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

#timer-bar {
    height: 100%;
    width: 100%;
    background-color: green;
    transition: width 1s linear, background-color 1s linear;
}

.question-and-wildcard {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.question-content {
    flex-grow: 1;
}

#wildcards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.wildcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.wildcard-button {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.wildcard-button {
    transform: scale(1.2);
  }

.wildcard-button:hover {
    transform: scale(1.1);
}

.wildcard-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#extra-time-button {
    background-image: url('/icons/clock.png');
}

#fifty-fifty-button {
    background-image: url('/icons/borrar.png');
}

.wildcard-title {
    font-size: 0.9em;
    color: #000000;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}
